# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
city_data_csv = 'output_data/cities.csv'
city_data = pd.read_csv(city_data_csv)
city_data_df = pd.DataFrame(city_data)
city_data_df

,City,Max Temperature,Latitude,Longitude,Humidity,Cloud %,Wind Speed
0,airai,75.15,-8.9266,125.4092,36,74,4.65
1,kavieng,83.39,-2.5744,150.7967,75,55,15.35
2,albany,68.67,42.6001,-73.9662,86,63,2.10
3,jerecuaro,57.99,20.1500,-100.5167,95,100,0.65
4,bantry,56.68,51.6833,-9.4500,90,100,19.39
...,...,...,...,...,...,...,...
558,fare,78.31,-16.7000,-151.0167,71,21,8.61
559,kenitra,70.56,34.2610,-6.5802,88,1,4.76
560,horizontina,60.26,-27.6258,-54.3078,74,100,4.12
561,preobrazheniye,79.50,42.9019,133.9064,78,100,3.89
562,renkum,59.99,51.9767,5.7333,93,90,6.91

In [3]:
#test to see if widgets are working since the map was not showing
import ipywidgets as widgets
widgets.IntSlider()

IntSlider(value=0)

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [14]:
locations = city_data_df[['Latitude', 'Longitude']]
humidity = city_data_df['Humidity']
figure = gmaps.figure()

In [29]:
heatmap = gmaps.heatmap_layer(locations, weights=humidity, dissipating = False,
                              max_intensity = 250, point_radius = 4)

figure.add_layer(heatmap)
figure

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [25]:
#narrow max temp > 70 and < 80, wind speed less than 10, and zero cloudiness
narrowed_cities = city_data_df.loc[(city_data_df['Max Temperature'] < 80) & (city_data_df["Max Temperature"]
                                        > 70) & (city_data_df['Wind Speed'] < 10) & (city_data_df['Cloud %'] == 0)]
print(len(narrowed_cities))
narrowed_cities

14

,City,Max Temperature,Latitude,Longitude,Humidity,Cloud %,Wind Speed
98,emerald,73.54,-23.5333,148.1667,25,0,8.05
138,mount isa,73.17,-20.7333,139.5000,16,0,9.22
143,panorama,76.42,40.5878,23.0315,38,0,1.01
154,labrea,72.43,-7.2586,-64.7981,51,0,0.31
161,ambilobe,73.35,-13.2000,49.0500,62,0,2.53
178,rodrigues alves,71.10,-7.7380,-72.6509,56,0,1.34
213,cayenne,77.09,4.9333,-52.3333,89,0,3.44
219,byron bay,73.51,-28.6500,153.6167,55,0,9.55
257,el dorado,73.92,38.7666,-120.5177,39,0,1.99
309,charters towers,75.61,-20.1000,146.2667,20,0,9.78
396,tarauaca,72.59,-8.1614,-70.7656,54,0,0.74
459,pangody,77.56,65.8500,74.4859,43,0,6.78
461,leticia,75.25,-4.2153,-69.9406,100,0,0.00
555,aripuana,71.20,-9.1667,-60.6333,47,0,1.97

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [47]:

vacation_locations = narrowed_cities[['City','Latitude', 'Longitude']]
vacation_lat = narrowed_cities['Latitude']
vacation_lon = narrowed_cities["Longitude"]
hotel_df = pd.DataFrame(narrowed_cities)
hotel_df["Hotel Name"] = ''

#this section is not working, I will try another approach. 
#Perhaps it is not working because of vacation_lat/lon not being iterated through.

#hotel_search_url = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={vacation_lat},{vacation_lon}&radius=5000&types=lodging&key={g_key}'
#for city in hotel_df.iterrows():
   # response = requests.get(hotel_search_url).json()
   # print(response)

{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}

In [ ]:
#try using params
params = {
    'radius' : 5000,
    'types'  : 'lodging',
    'key'    : 'g_key'
}

places_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'

for place in hotel_df.iterrows():
    lat = place['Latitude']

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure